/* contact.css */
.contact {
    padding: 8rem 2rem;
}

.contact .container {
    margin-bottom: 1rem;
}

.contact #social-media {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    justify-content: flex-start;
}

.contact .container p {
    font-weight: 700;
    text-transform: uppercase;
}

.contact .container h3 {
    font-weight: 100;
}

.contact .container #social-media {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.contact .container #social-media a {
    background: rgb(0,0,0);
    padding: 0.6rem;
}

.contact .container #social-media img {
    width: 1.8rem;
    height: auto;
}

.contact .wrapper#google-maps iframe {
    max-width: 100%;
}