/* gallery.css */
.reservation {
    padding: 8rem 2rem;
}

.reservation .top-bar {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}